* {
    margin:0;
    padding:0;
    background-color: #3A9278;
    text-align: center;
}
.container{
    height: 70vh;
     display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
   box-shadow: 0 0 1rem rgba(0,0,0,0.3);
   font-size: 10vmin;
   color: black;
    background-color: #E7D7C1;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.4rem;
    background-color: #EBEBEB;
    color: black;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    font-size: 1.4rem;
    background-color: #EBEBEB;
    color: black;
    border-radius: 1rem;
}
#msg {
    color: #0C0A3E;
    font-size: 6vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide {
    display: none;
}